{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
<hr/>
<section name="bio">
	<h2>biography</h2>
	<p>
		<img src="https://i.imgur.com/zhZ05w0.jpg" alt="">
		{{content}}

	</p>
</section>
<hr/>
<section name="about_me">
	<h2>List</h2>
	<ul>
		{% for ii in about_me %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<section name="form">
	<h2>Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>



<hr/>
{% endblock %}
